.navbar {
    background-color: #e3f2fd;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 1em #00000033;
}

body {
    background-image: url('../assets/earth_horizon.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;

    color: #ffffff;


}

.earth {
    width: 100%;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    z-index: 1;
}

.form-select {
    max-width: fit-content;
    margin: 5px auto;

}

*.MuiAutocomplete-root {
    max-width: 14rem;
    margin: auto;

}

#searchButton {
    margin: 1rem auto;
    padding: 1rem;
    width: 55%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;

}

.countryCard {
    min-width: fit-content;
    margin: 1rem auto;
    padding: 1rem;
    width: 55%;
    box-shadow: 0 0 1em #00000033;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
    background-color: #8dbdff86;
}

.cardContents {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: 1rem auto;
    padding: 1rem;
    z-index: 1000;

}

#flag {

    height: auto;
    margin: auto;

}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

img {
    width: 10rem;
    margin: 0 1rem;

}

html {
    background-color: #8DBDFF;
}