body,
html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.navbar {
    background-color: #e3f2fd;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 1em #00000033;
}

@media only screen and (max-width: 600px) {
    .appContainer {
        display: grid;
        margin: 1rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
        grid-auto-flow: column;
    }

    .originSelect {
        grid-area: 1 / 2 / 1 / 3;
    }

    .destinationSelect {
        grid-area: 2 / 2 / 2 / 3;
    }

    .searchButton {
        grid-area: 3 / 2 / 3 / 3;
        border-radius: 12px;
    }
}

@media only screen and (min-width: 600px) {
    .appContainer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .originSelect {
        grid-area: 2 / 2 / 4 / 3;

    }

    .destinationSelect {
        grid-area: 2 / 4 / 4 / 5;
    }

    .searchButton {
        grid-area: 5 / 3 / 5 / 4;
        margin: auto;
        border-radius: 12px;
    }
}

/* RS/CS/RE/CE ROW> COLV*/


#root {
    text-align: center;
    color: #ffffff;
    background-image: url('../assets/earth_horizon.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.form-select {
    max-width: fit-content;
    margin: 5px auto;

}

*.MuiAutocomplete-root {
    max-width: 14rem;
    margin: auto;

}

.countryCard {
    background-color: #d8dfe6da;
    border-radius: 12px !important;
    box-shadow: 1em 1em 1em #00000043 !important;
    text-align: center;
}

.cardContents {
    justify-content: left;
    align-items: left;
    margin: 1rem auto;
    padding: 1rem;
    min-height: 16rem;
}

#flag {
    height: auto;
    margin: auto;
}

#logo {
    width: 10rem;
    margin: 0 1rem;
}





/* full screen */
/*  */