.header {
    background-size: cover;
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.57), #1c427b),
        url('../assets/earth_horizon.jpg');
    color: white;
}

@media only screen and (max-width: 600px) {
    .appContainer {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;

    }

    .header {
        grid-area: 1 / 1 / 5 / 4;
        padding: 1rem;
    }

    #passportSelect {
        grid-area: 2 / 2 / 3 / 3;
        height: 100%;
        padding: 1rem;
    }

    #destinationSelect {
        grid-area: 3 / 2 / 4 / 3;
        height: 100%;
    }

    .searchButton {
        grid-area: 4 / 2 / 4 / 2;
        border-radius: 16px;
        margin: auto;
    }
}


@media only screen and (min-width: 600px) {
    .appContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 350px repeat(3, 1fr);
        row-gap: 1rem;
    }

    .header {
        grid-area: 1 / 1 / 6 / 5;
        padding: 1rem;
        height: 100%;
        width: 100%;
    }

    #passportSelect {
        grid-area: 2 / 2 / 2 / 2;
        height: 100%;

    }

    #destinationSelect {
        grid-area: 3 / 2 / 3 / 2;
        height: 100%;

    }

    .searchButton {
        grid-area: 4 / 2 / 4 / 2;
        margin: auto;
        border-radius: 16px;
        display: grid !important;
    }
}

@media only screen and (min-width: 1200px) {
    .appContainer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 350px repeat(3, 1fr);
        row-gap: 1rem;
    }

    .header {
        grid-area: 1 / 1 / 6 / 6;
        padding: 1rem;
        height: 100%;
        width: 100%;
    }

    #passportSelect {
        grid-area: 2 / 2 / 2 / 2;
        height: 100%;

    }

    #destinationSelect {
        grid-area: 2 / 4 / 2 / 4;
        height: 100%;

    }

    .searchButton {
        grid-area: 3 / 3 / 3 / 3;
        margin: auto;
        border-radius: 16px;
        display: grid !important;
    }

}