#infoCard {
    width: 100%;
    float: left;

    text-align: left;
    margin: 1rem;
}

.cardContents {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: auto;
    padding: 1rem;
    width: 100%;

}

#Map {
    width: 75%;
    float: right;
    margin: 1rem;
    height: fit-content;
}