body {
    background-color: aliceblue;
}

.resultsContainer {
    display: grid;
    grid-template-columns: repeat(9, 2fr);
    grid-template-rows: 250px 250px 250px 250px 250px 250px;
}

.infoCard {
    text-align: left;
    width: 100%;
    margin: 1rem;
    border-radius: 12px !important;
    box-shadow: 1em 1em 1em #00000043 !important;
}

/* RS/CS/RE/CE ROW> COLV*/
#converter {
    grid-area: 1 / 8 / 1 / 10;

}

#visaInfo {
    grid-area: 2 / 8 / 2 / 10;


}

#destinationInfo {
    grid-area: 3 / 8 / 3 / 10;

}

.cardContents {
    justify-content: left;
    padding: 1rem;

}

#mapContainer {
    grid-area: 1 / 1 / 3 / 7;
    padding: 2rem;
    margin: 1rem;
    border-radius: 12px !important;
    box-shadow: 1em 1em 1em #00000043 !important;
    background-color: #ffffff;
}