* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-size: 16px;
    font: lato;

}

main {
    padding: 0% !important;
    margin: 0% !important;
}


.infoCard {
    text-align: left;
    border-radius: 12px !important;
    box-shadow: 1em 1em 1em #00000043 !important;
    background-color: #ffffff;
    padding: 2rem;
    height: 100%;

}

.MuiAutocomplete-root {
    max-width: 15rem;
    margin: 1rem auto;

}

#root {
    background-color: #d8dfe6da;
    display: grid !important;
}


.header p {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}

.header h2 {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}



.headerText {
    margin-top: 5rem;
    text-align: center;
}


.countryCard {
    background-color: #d8dfe6da;
    border-radius: 16px !important;
    box-shadow: 1em 1em 1em #00000043 !important;
    text-align: center;
    min-height: 18rem;
    min-width: 20rem;
    height: 100%;
    width: 100%;
}

#logo {
    width: 4rem;
    margin: 1rem;

}

#sidebar a.active {
    color: rgb(15, 15, 224);
    background-color: #ffffff !important;
}

#sidebar a {
    color: #000000;
    text-decoration: none;
    width: 100%;

}

#sidebar a:hover {
    color: rgb(15, 15, 224);
}

#sidebar {
    width: 100%;
    background-color: aliceblue;
}