* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-size: 16px;
    font: lato;

}

main {
    padding: 0% !important;
    margin: 0% !important;
}


.infoCard {
    text-align: left;
    border-radius: 20px !important;
    box-shadow: 0px for X, Y, 10px blur rgba(0, 0, 0, 0.6) !important;
    background-color: #ffffff;
    padding: 2rem;
    height: 100%;

}

.MuiAutocomplete-root {
    max-width: 15rem;
    margin: 1rem auto;

}

#root {
    background-color: #F5F5F5;
    display: grid !important;
}


.header p {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}

.header h2 {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}



.headerText {
    margin-top: 5rem;
    text-align: center;
}


.countryCard {
    background-color: #d8dfe6da;
    border-radius: 20px !important;
    box-shadow: 0px for X, Y, 10px blur rgba(0, 0, 0, 0.6) !important;
    text-align: center;
    min-height: 18rem;
    min-width: 20rem;
    height: 100%;
    width: 100%;
}

#logo {
    width: 4rem;
    margin: 1rem;
}


#sidebar a.active {
    background-color: #E9F2EA !important;
    border-radius: 20px !important;
}

#sidebar a {
    color: #2E2E2E;
    width: 100%;
    border-radius: 20px;
    text-decoration: none;
}

#sidebar a:hover {
    background-color: #E9F2EA !important;
    border-radius: 20px !important;
}

#sidebar :hover {
    background-color: unset !important;
}

#sidebar {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.sideFooter {
    position: fixed;
    bottom: 0;
    padding: 2rem;
}

.sideFooter img {
    width: 60px;
    height: 60px;
    margin: 0;
    /* circle */

    border-radius: 50%;
}